.Banner__container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 800px;
  padding: 0 12vw;
  margin-top: 200px;
}

.Banner__character {

}

.Banner__characterImg {
  object-fit: contain;
  width: 18vw;
  position: relative;
}

.Banner__welcome {
  align-items: center;
  margin: 8vw 8vw;
  height: 800px;
}
.Banner__welcome h1 {
  font-size: 2.5vw;
}